@using Northwind.EntityModels
@model List<Customer>
@{
    string title = "Our Customers";
    ViewData["Title"] = title;
}
<h1 class="display-4">@title</h1>
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert-danger p-2">@ViewBag.ErrorMessage</div>
}
@if (Model is not null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Contact Name</th>
                <th>Address</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Customer c in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => c.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => c.ContactName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => c.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => c.Phone)
                    </td>
                </tr>
            }
        <tbody>
    </table>
}