@using Northwind.EntityModels
@model IEnumerable<Product>
@{
    string title = "Our Products";
    ViewData["Title"] = title;
}
<h1 class="display-4">@title</h1>
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert-danger p-2">@ViewBag.ErrorMessage</div>
}
@if (Model is not null)
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Units In Stock</th>
                <th>Category Name</th>
                <th>Supplier's Company Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product p in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => p.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.UnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.UnitsInStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.Category!.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.Supplier!.CompanyName)
                    </td>
                </tr>
            }
        <tbody>
    </table>
}